.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.articles {
  width: 600px;
}

.articles.list .flip-move {
  display: flex;
  flex-direction: column;
}

.articles.table .flip-move {
  display: flex;
  flex-direction: row;
}

.article {
  flex: 1;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 5px;
  min-height: 90px;
}
